body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.interval {
  width: 100px;
  height: 80px;
  text-align: center;
  margin: 50px;
  background-color: palegreen;
  padding-left: 60px;
}

.time {
  width: 150px;
  height: 80px;
  background-color: sandybrown;
  text-align: center;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgray;
}
